<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-6-table is-6-desktop is-6widescreen">
          <div class="box">
            <div class="field has-text-centered">
              <strong>Have something Do Do?</strong><br>
              <small>Enter an task to do below.</small>
            </div>
            <div class="columns">
            <div class="column ">
                <strong>Your To Do List</strong> <br>
                <ol class="list is-hoverable">
                    <% @todo.each do |t| %>
                      <li class = "list-item">
                        <%= t.item %> 
                          <%= link_to '', t, class:"fas fa-edit"%>
                          <%= link_to '', t, method: :delete,
                                          data: {confirm: "Delete this task."},
                                          class: "fas fa-trash" %>
                      </li>
                    <% end %>
                </ol>
              </div>
              <div class="column">
                  <%= render 'form' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
